@model Casgem_CQRS_DesignPattern.CQRSPattern.Commands.CreateProductCommand
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <label>ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>ürün fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>ürün marka</label>
        <input type="text" class="form-control" asp-for="Brand" />
        <br />
        <label>Ürün Stock</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br />
        <input type="submit" value="oluştur" class="btn btn-outline-primary m-3" />
    </form>
</div>
